@import "variables";

@mixin blob_base {
  position: absolute;
  opacity: 0.5;
}

@mixin background_base($col) {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  z-index: -2;
  overflow: hidden;
  background-color: $col;
}

.background_light {
  @include background_base($light-background);

  .blob1 {
    @include blob_base();
    top: 0%;
    right: -60%;
    width: 170vw;
  }
  .blob2 {
    @include blob_base();
    top: 14%;
    left: -80%;
  }
  .blob3 {
    @include blob_base();
    width: 150vw;
    top: 55%;
    left: -20%;
  }
  .blob4 {
    @include blob_base();
    width: 150vw;
    top: 75%;
    left: -20%;
  }
  .blob5 {
    @include blob_base();
    top: 90%;
    left: -20%;
  }
}

.background_dark {
  @include background_base($dark-background);

  .blob1 {
    @include blob_base();
    top: 0%;
    right: -60%;
    width: 170vw;
  }
  .blob2 {
    @include blob_base();
    top: 14%;
    left: -80%;
  }
  .blob3 {
    @include blob_base();
    width: 150vw;
    top: 55%;
    left: -20%;
  }
  .blob4 {
    @include blob_base();
    width: 150vw;
    top: 75%;
    left: -20%;
  }
  .blob5 {
    @include blob_base();
    top: 90%;
    left: -20%;
  }
}
