@import "variables";

@mixin form($bordercol, $bgcol, $textcol, $inputcol) {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  max-width: 400px;
  font-family: $font-secondary;

  p {
    label {
      font-size: 0.9rem;
      color: $bordercol;
    }

    input {
      display: block;
      width: 100%;
      margin-top: 10px;
      padding-left: 10px;
      border-radius: 8px;
      height: 6vh;
      background-color: rgba($bgcol, 0.5);
      outline: none;
      border: none;

      box-shadow: 0px 10px 25px 0px #0000001a;
      color: $inputcol;

      &:focus {
        border: 2px $bordercol solid;
      }
    }

    textarea {
      display: block;
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      border-radius: 8px;
      height: 16vh;
      background-color: rgba($bgcol, 0.5);
      border: none;
      outline: none;
      color: $inputcol;

      box-shadow: 0px 10px 25px 0px #0000001a;

      &:focus {
        border: 2px $bordercol solid;
      }
    }
  }

  .emailAdd {
    margin-top: 20px;
    text-align: center;
    // background-color: aqua;
    p {
      color: $inputcol;
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  .button_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      @include button($bordercol, $textcol, transparent);
    }
  }

  @media (max-width: 414px) {
    padding-inline: 5px;
  }
}

// contact page

.contact {
  margin-top: 150px;
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;

  .heading_light {
    font-family: $font-primary;
    color: $light-text;
    margin-bottom: 8vh;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .heading_dark {
    font-family: $font-primary;
    color: $dark-text;
    margin-bottom: 10vh;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

//Contact form

.form_light {
  @include form(
    $light-primary,
    $light-background2,
    $light-background,
    $light-text
  );
}

.form_dark {
  @include form(
    $dark-primary,
    $dark-background2,
    $dark-background,
    $dark-primary
  );
}

.field_err {
  border: 2px $error solid !important;
}

.err_text {
  color: $error;
  font-size: 0.8rem;
  font-family: $font-secondary;
  font-weight: 600;
  margin-top: -15px;
}

.inactive {
  background-color: rgba($inactive, 0.5) !important;
}
