@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@font-face {
  font-family: Minecraft;
  src: url(../public/Minecraft.ttf);
}

// Resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

// Background colour

.background_light {
  position: relative;
  background-color: $light-background;
}

.background_dark {
  position: relative;
  background-color: $dark-background;
}
