.header {
  width: 100%;

  padding-block: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.imageWrapper {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  overflow: hidden;
  background-color: black;
}
