@import "variables";

//base navbar styles

@mixin navbar-base-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  height: 10vh;

  z-index: 10;

  max-width: 1100px;
  margin: auto;

  h1 {
    font-family: $font-primary;
    letter-spacing: 1px;
  }

  ul {
    font-family: $font-primary;
    display: flex;
    align-items: center;
    gap: 25px;
    letter-spacing: 1px;
  }
}

// navbar light

.navbar_light {
  @include navbar-base-styles();
  color: $light-text;

  li {
    cursor: pointer;
  }

  li:hover {
    color: $light-secondary;
  }

  .moon {
    width: 15px;
    margin-right: 14px;
    margin-top: 2px;
    cursor: pointer;
  }
}

// navbar dark

.navbar_dark {
  @include navbar-base-styles();
  color: $dark-text;

  li {
    cursor: pointer;
  }

  li:hover {
    color: $dark-primary;
  }

  .sun {
    width: 20px;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
  }
}

// mobile styles

@media (max-width: 414px) {
  .navbar_light {
    justify-content: flex-end;
    align-items: flex-end;
    height: 8vh;
    z-index: 100;

    h1 {
      display: none;
    }

    li {
      display: none;
    }

    .darkmode_icon {
      display: block;

      .moon {
        width: 20px;
      }
    }
  }

  .navbar_dark {
    justify-content: flex-end;
    align-items: flex-end;
    height: 8vh;
    h1 {
      display: none;
    }

    li {
      display: none;
    }

    .darkmode_icon {
      display: block;

      .sun {
        width: 27px;
      }
    }
  }
}
