@import "variables";

@mixin heading($color) {
  color: $color;
  font-family: $font-primary;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 3vh;
  font-weight: 400;
  letter-spacing: 1px;
}

// Portfolio page

.portfolio {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Heading

.heading_light {
  @include heading($light-text);
}

.heading_dark {
  @include heading($dark-text);
}

// Mobile Styles

@media (max-width: 414px) {
  .portfolio {
    padding-inline: 25px;
  }
}
