@import "variables";

// Base card style

@mixin portfolio-card-base-style {
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 0px 10px 25px 0px #0000001a;

  display: flex;

  width: 90%;
  max-width: 900px;

  .thumbnail {
    width: 45%;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 3 / 2;
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }

  .body {
    padding: 25px 25px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    h1 {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1.1rem;
    }

    p {
      font-family: $font-secondary;
      font-size: 0.8rem;
      line-height: 1.4;
      font-weight: 400;
      opacity: 0.8;
    }

    .stack {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      margin-top: -10px;

      height: 50px;

      &_item {
        max-width: 25px;
        max-height: 30px;
        filter: brightness(0.6);
        opacity: 0.8;

        &:hover {
          filter: brightness(1);
          opacity: 1;
        }
      }
    }
  }
}

//light and dark card variations

.portfolioCard_light {
  @include portfolio-card-base-style();
  color: $light-text;
  background-color: rgba($light-background2, 0.2);
  &:hover {
    .thumbnail {
      opacity: 1;
    }
  }
}

.portfolioCard_dark {
  @include portfolio-card-base-style();
  color: $dark-text;
  background-color: rgba($dark-background2, 0.5);
  &:hover {
    .thumbnail {
      opacity: 1;
    }
  }
}

//buttons

//container

.buttons {
  margin-top: auto;
  display: flex;
  gap: 15px;
}

//dark

.btn_livesite_dark {
  @include button($dark-primary, $dark-background, transparent);
  padding: 6px 12px;
  font-size: 0.8rem;
  border: none;
}

.btn_github_dark {
  @include button(transparent, $dark-primary, $dark-primary);
  font-size: 0.8rem;
  padding: 6px 12px;
}

.btn_figma_dark {
  margin-left: auto;
  @include button(transparent, $dark-primary, transparent);
  font-size: 0.8rem;
  padding: 6px 12px;
  border: none;
}

//light

.btn_livesite_light {
  @include button($light-primary, $light-background, none);
  padding: 6px 12px;
  font-size: 0.8rem;
  border: none;
}

.btn_github_light {
  @include button(transparent, $light-primary, $light-primary);
  font-size: 0.8rem;
  padding: 6px 12px;
}

.btn_figma_light {
  margin-left: auto;
  @include button(transparent, $light-primary, none);
  font-size: 0.8rem;
  padding: 6px 12px;
  border: none;
}

//mobile styles

@media (max-width: 415px) {
  .portfolioCard_light {
    @include portfolio-card-base-style();
    color: $light-text;
    background-color: rgba($light-background2, 0.2);
    flex-direction: column;
    width: 100%;
  }

  .portfolioCard_dark {
    @include portfolio-card-base-style();
    color: $dark-text;
    background-color: rgba($dark-background2, 0.5);
    flex-direction: column;
    width: 100%;
  }

  .thumbnail {
    width: 100% !important;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    opacity: 1 !important;
  }

  .stack {
    margin-top: 2px;

    &_item {
      max-width: 30px;
      max-height: 35px;
    }
  }

  .buttons {
    margin-top: auto;
    display: flex;
    gap: 10px;
  }

  .btn_livesite_dark {
    @include button($dark-primary, $dark-background, none);
    padding: 7px 14px;
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .btn_github_dark {
    @include button(transparent, $dark-primary, $dark-primary);
    padding: 7px 14px;
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .btn_figma_dark {
    margin-left: auto;
    @include button(transparent, $dark-primary, none);
    padding: 7px 14px;
    font-size: 0.7rem;
    margin-right: -5px;
    margin-bottom: 10px;
  }

  .btn_livesite_light {
    @include button($light-primary, $light-background, none);
    padding: 7px 14px;
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .btn_github_light {
    @include button(transparent, $light-primary, $light-primary);
    padding: 7px 14px;
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .btn_figma_light {
    margin-left: auto;
    @include button(transparent, $light-primary, none);
    padding: 7px 14px;
    font-size: 0.7rem;
    margin-right: -5px;
    margin-bottom: 10px;
  }
}
