$light-text: #1f2023;
$light-background: #f1f4ef;
$light-background2: #fdfffc;
$light-primary: #2191fb;
$light-secondary: #f75f1e;

$dark-text: white;
$dark-background: #0d1017;
$dark-background2: #2f3134;
$dark-primary: #4fb286;
$dark-secondary: #4f1f57;

$font-primary: Minecraft;
$font-secondary: "Inter", sans-serif; ;
