$light-text: black;
$light-background: white;
$light-background2: grey;
$light-primary: blue;
$light-secondary: yellow;

$dark-text: white;
$dark-background: black;
$dark-background2: darkgrey;
$dark-primary: green;
$dark-secondary: purple;

$font-primary: Minecraft;
$font-secondary: "Inter", "sans serif";
