$light-text: #1f2023;
$light-background: #f1f4ef;
$light-background2: #fdfffc;
$light-primary: #2191fb;
$light-secondary: #f75f1e;

$dark-text: #fdfffc;
$dark-background: #0d1017;
$dark-background2: #2f3134;
$dark-primary: #4fb286;
$dark-secondary: #4f1f57;

$error: #f46565;
$inactive: grey;

$font-primary: Minecraft;
$font-secondary: "Inter", sans-serif;

@mixin button($bgcol, $textcol, $bordercol) {
  outline: none;
  padding: 13px 17px;
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  font-family: $font-secondary;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  background-color: $bgcol;
  color: $textcol;
  border: 2px $bordercol solid;

  &:hover {
    scale: (1.03);
  }
}
