@import "variables";

.floater_container {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: aqua;

  .floater1 {
    @include floater($light-primary);
    left: -10%;
    top: -20%;
  }

  .floater2 {
    @include floater($light-secondary);
    right: -20%;
    bottom: 20%;
  }
}
