@import "variables";

@mixin navbar-base-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  height: 10vh;

  max-width: 1100px;
  margin: auto;

  h1 {
    font-family: $font-primary;
  }

  ul {
    font-family: $font-primary;
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

.navbar {
  &_light {
    @include navbar-base-styles();
    color: $light-text;

    li {
      cursor: pointer;
    }

    li:hover {
      color: $light-secondary;
    }
  }

  &_dark {
    @include navbar-base-styles();
    color: $dark-text;

    li {
      cursor: pointer;
    }

    li:hover {
      color: $dark-primary;
    }
  }
}

.sun {
  width: 20px;
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
}

.moon {
  width: 15px;
  margin-right: 14px;
  margin-top: 2px;

  cursor: pointer;
}

@media (max-width: 412px) {
  .navbar {
    &_light {
      justify-content: flex-end;
      align-items: flex-end;
      height: 8vh;
      h1 {
        display: none;
      }

      li {
        display: none;
      }

      .darkmode_icon {
        display: block;

        .moon {
          width: 20px;
        }
      }
    }

    &_dark {
      justify-content: flex-end;
      align-items: flex-end;
      height: 8vh;
      h1 {
        display: none;
      }

      li {
        display: none;
      }

      .darkmode_icon {
        display: block;

        .sun {
          width: 27px;
        }
      }
    }
  }
}
