@import "variables";

@mixin portfolio-card-base-style {
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0px 10px 25px 0px #0000001a;

  display: flex;

  max-width: 800px;
}

@mixin btn($textcol, $bgcol, $bordercol) {
  padding: 10px 16px;
  outline: none;
  border-radius: 10px;
  border: none;
  font-family: $font-secondary;
  font-weight: 600;
  background-color: $bgcol;
  border: 2px $bordercol solid;
  color: $textcol;
  cursor: pointer;

  &:hover {
    scale: (1.03);
  }
}

.portfolioCard {
  &_light {
    @include portfolio-card-base-style();
    color: $light-text;
    background-color: rgba($light-background2, 0.2);
  }

  &_dark {
    @include portfolio-card-base-style();
    color: $dark-text;
    background-color: rgba($dark-background2, 0.5);
  }
}

.thumbnail {
  width: 35%;
  object-fit: fill;
  object-position: top;
}

.stack {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: -10px;

  height: 50px;

  &_item {
    width: 25px;
  }
}

.body {
  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  h1 {
    font-family: $font-primary;
  }

  p {
    font-family: $font-secondary;
    font-size: 0.9rem;
  }
}

.buttons {
  margin-top: auto;
  display: flex;
  gap: 15px;
}

.btn_livesite_dark {
  @include btn($dark-background, $dark-primary, none);
}

.btn_github_dark {
  @include btn($dark-primary, transparent, $dark-primary);
}

.btn_figma_dark {
  margin-left: auto;
  @include btn($dark-primary, transparent, none);
}

.btn_livesite_light {
  @include btn($light-background2, $light-primary, none);
}

.btn_github_light {
  @include btn($light-primary, transparent, $light-primary);
}

.btn_figma_light {
  margin-left: auto;
  @include btn($light-primary, transparent, none);
}
