@import "variables";

@mixin portfolio-card-base-style {
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0px 5px 10px 0px #00000026;

  display: flex;

  max-width: 800px;
}

.portfolioCard {
  &_light {
    @include portfolio-card-base-style();
    color: $light-text;
    background-color: $light-background2;
  }

  &_dark {
    @include portfolio-card-base-style();
    color: $dark-text;
    background-color: $dark-background2;
  }
}

.thumbnail {
  width: 30%;
  object-fit: cover;
  object-position: left;
}

.stack {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 10px;
  height: 50px;

  &_item {
    width: 20px;
    background-color: bisque;
  }
}

.body {
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
